src/main/resources/xsd/DMSSalesAppService0.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           targetNamespace="http://tempuri.org/">
    <xs:import schemaLocation="../xsd/DMSSalesAppService2.xsd"
               namespace="http://schemas.datacontract.org/2004/07/DMSSalesAppIntegrationService.Contact"/>
    <xs:import schemaLocation="../xsd/DMSSalesAppService3.xsd"
               namespace="http://schemas.datacontract.org/2004/07/DMSSalesAppIntegrationService"/>
    <xs:import schemaLocation="../xsd/DMSSalesAppService4.xsd"
               namespace="http://schemas.datacontract.org/2004/07/Dialog.Dms.SalesBusinessObject"/>
    <xs:import schemaLocation="../xsd/DMSSalesAppService5.xsd"
               namespace="http://schemas.datacontract.org/2004/07/DmsService.Inventory"/>
    <xs:element name="MaterialValidationRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DMSSalesAppIntegrationService.Contact" minOccurs="0" name="IsBundleMaterial"
                            type="q1:BundleMaterial"/>
                <xs:element minOccurs="0" name="MSISDN" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="MaterialSerialNumber" nillable="true" type="xs:string"/>
                <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DMSSalesAppIntegrationService.Contact" minOccurs="0" name="MaterialStatus"
                            type="q2:ItemStatus"/>
                <xs:element minOccurs="0" name="ProfileID" type="xs:int"/>
                <xs:element minOccurs="0" name="RequestId" nillable="true" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="MaterialValidationResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string"/>
                <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DMSSalesAppIntegrationService" minOccurs="0" name="Materialres" nillable="true"
                            type="q3:SapMaterialValidationResponse"/>
                <xs:element minOccurs="0" name="RequestId" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="Success" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ConsumptionUpdateRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="MSISDN" nillable="true" type="xs:string"/>
                <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DMSSalesAppIntegrationService" minOccurs="0" name="MaterialItems" nillable="true"
                            type="q4:ArrayOfConsumptionUpdateItems"/>
                <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DMSSalesAppIntegrationService.Contact" minOccurs="0" name="MaterialStatus"
                            type="q5:ItemStatus"/>
                <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DMSSalesAppIntegrationService.Contact" minOccurs="0" name="OrderType"
                            type="q6:UpdateOrdType"/>
                <xs:element minOccurs="0" name="ProfileID" type="xs:int"/>
                <xs:element minOccurs="0" name="RequestId" nillable="true" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ConsumptionUpdateResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="FailReason" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="RequestId" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="StatusDesc" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="StatusID" type="xs:int"/>
                <xs:element minOccurs="0" name="Success" type="xs:boolean"/>
                <xs:element minOccurs="0" name="TransactionID" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="CancelConsumptionUpdateRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="RequestId" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="TransactionID" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="CancelConsumptionUpdateResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="FailReason" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="RequestId" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="StatusDescription" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="StatusID" type="xs:int"/>
                <xs:element minOccurs="0" name="Success" type="xs:boolean"/>
                <xs:element minOccurs="0" name="TransactionID" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetPendingApprovalsRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/DMSSalesAppIntegrationService.Contact" minOccurs="0" name="FunctionalType"
                            type="q7:FunctionalType"/>
                <xs:element minOccurs="0" name="MSISDN" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="ProfileID" type="xs:int"/>
                <xs:element minOccurs="0" name="RequestId" nillable="true" type="xs:string"/>
                <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Dialog.Dms.SalesBusinessObject" minOccurs="0" name="Status"
                            type="q8:ApprovalEntryStatus"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetPendingApprovalsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="AgentName" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="AgentProfileID" type="xs:int"/>
                <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/DMSSalesAppIntegrationService" minOccurs="0" name="ApprovalDetailRespons"
                            nillable="true"
                            type="q9:ArrayOfApprovalsResponse"/>
                <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="FailReason" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="RequestId" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="RequestStatusDesc" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="Success" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="CreateSTORequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="ExpectedDate" type="xs:dateTime"/>
                <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/DMSSalesAppIntegrationService.Contact" minOccurs="0" name="IsBundle"
                            type="q10:BundleReq"/>
                <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/DMSSalesAppIntegrationService.Contact" minOccurs="0" name="ItemStatus"
                            type="q11:ItemStatus"/>
                <xs:element minOccurs="0" name="MSISDN" nillable="true" type="xs:string"/>
                <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/DMSSalesAppIntegrationService.Contact" minOccurs="0" name="OrderType"
                            type="q12:ReqOrdType"/>
                <xs:element minOccurs="0" name="ProfileID" type="xs:int"/>
                <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string"/>
                <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/DMSSalesAppIntegrationService.Contact" minOccurs="0" name="RequestDetails" nillable="true"
                            type="q13:ArrayOfRequestDetail"/>
                <xs:element minOccurs="0" name="RequestId" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="RequestedDate" type="xs:dateTime"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="CreateSTOResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="RequestId" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="RequestStatusDesc" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="RequestStatusID" type="xs:int"/>
                <xs:element minOccurs="0" name="STORequestID" type="xs:int"/>
                <xs:element minOccurs="0" name="Success" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetPendingApprovalDetailRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/DMSSalesAppIntegrationService.Contact" minOccurs="0" name="FunctionalType"
                            type="q14:FunctionalType"/>
                <xs:element minOccurs="0" name="RequestId" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="STORequestID" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetPendingApprovalDetailResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="ExpectedDate" type="xs:dateTime"/>
                <xs:element minOccurs="0" name="FailReason" nillable="true" type="xs:string"/>
                <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/DMSSalesAppIntegrationService.Contact" minOccurs="0" name="ItemStatus"
                            type="q15:ItemStatus"/>
                <xs:element minOccurs="0" name="ProfileId" type="xs:int"/>
                <xs:element minOccurs="0" name="RequestId" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="RequestRemarks" nillable="true" type="xs:string"/>
                <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/DMSSalesAppIntegrationService.Contact" minOccurs="0" name="RequestStatus"
                            type="q16:PendingResponseStatus"/>
                <xs:element minOccurs="0" name="RequestedDate" type="xs:dateTime"/>
                <xs:element minOccurs="0" name="STORequestID" type="xs:int"/>
                <xs:element minOccurs="0" name="Success" type="xs:boolean"/>
                <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/DMSSalesAppIntegrationService.Contact" minOccurs="0" name="approvalRequestDetails"
                            nillable="true"
                            type="q17:ArrayOfApprovalResponseDetail"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="StockApprovalsRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/DMSSalesAppIntegrationService.Contact" minOccurs="0" name="DetailRequest"
                            nillable="true"
                            type="q18:ArrayOfApprovalRequestDetailInfo"/>
                <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/DMSSalesAppIntegrationService.Contact" minOccurs="0" name="HeaderRequest" nillable="true"
                            type="q19:ApprovalRequestHeaderInfo"/>
                <xs:element minOccurs="0" name="RequestId" nillable="true" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="StockApprovalsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="RequestId" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="RequestStatusDesc" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="RequestStatusID" type="xs:int"/>
                <xs:element minOccurs="0" name="STORequestID" type="xs:int"/>
                <xs:element minOccurs="0" name="Success" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetSTOItemsAcquasitionInfoRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="MSISDN" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="ProfileID" type="xs:int"/>
                <xs:element minOccurs="0" name="RequestId" nillable="true" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetSTOItemsAcquasitionInfoResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="RequestId" nillable="true" type="xs:string"/>
                <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/DMSSalesAppIntegrationService.Contact" minOccurs="0" name="STOItemsAcquasitionInfo"
                            nillable="true"
                            type="q20:ArrayOfGetSTOItemsAcquasitionInfoResponseItem"/>
                <xs:element minOccurs="0" name="Success" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetSTOItemsAcquasitionDetailInfoRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="MSISDN" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="ProfileID" type="xs:int"/>
                <xs:element minOccurs="0" name="RequestId" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="STORequestID" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetSTOItemsAcquasitionDetailInfoResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="RequestId" nillable="true" type="xs:string"/>
                <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/DMSSalesAppIntegrationService.Contact" minOccurs="0" name="STOItem" nillable="true"
                            type="q21:ArrayOfSTOAcquasitionDetailInfoItem"/>
                <xs:element minOccurs="0" name="STORequestID" type="xs:int"/>
                <xs:element minOccurs="0" name="STORequestStatus" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="Success" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="CancelSTORequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="MSISDN" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="ProfileID" type="xs:int"/>
                <xs:element minOccurs="0" name="RequestId" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="STORequestID" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="CancelSTOResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="RequestId" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="RequestStatusDesc" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="RequestStatusID" type="xs:int"/>
                <xs:element minOccurs="0" name="STOResponseID" type="xs:int"/>
                <xs:element minOccurs="0" name="Success" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="MaterialReturnRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/DMSSalesAppIntegrationService.Contact" minOccurs="0" name="ItemStatus"
                            type="q22:ItemStatus"/>
                <xs:element minOccurs="0" name="MSISDN" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="ProfileID" type="xs:int"/>
                <xs:element minOccurs="0" name="RequestId" nillable="true" type="xs:string"/>
                <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/DMSSalesAppIntegrationService.Contact" minOccurs="0" name="ReturnReasonType"
                            type="q23:MaterialReturnType"/>
                <xs:element minOccurs="0" name="ReturnRemarks" nillable="true" type="xs:string"/>
                <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/DMSSalesAppIntegrationService.Contact" minOccurs="0" name="ReturnRequestDetail"
                            nillable="true"
                            type="q24:ArrayOfReturnRequestDetail"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="MaterialReturnResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="RequestId" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="RequestStatusDesc" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="RequestStatusID" type="xs:int"/>
                <xs:element minOccurs="0" name="Success" type="xs:boolean"/>
                <xs:element minOccurs="0" name="TransactionID" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="AcquisitionSTOItemsRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="MSISDN" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="ProfileID" type="xs:int"/>
                <xs:element minOccurs="0" name="RequestId" nillable="true" type="xs:string"/>
                <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/DMSSalesAppIntegrationService.Contact" minOccurs="0" name="STOItem" nillable="true"
                            type="q25:ArrayOfSTOAcquasitionItem"/>
                <xs:element minOccurs="0" name="STORequestID" type="xs:int"/>
                <xs:element minOccurs="0" name="STORequestStatus" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="AcquisitionSTOItemsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="FailReason" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="RequestId" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="STORequestStatus" type="xs:int"/>
                <xs:element minOccurs="0" name="StatusDesc" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="StatusID" type="xs:int"/>
                <xs:element minOccurs="0" name="Success" type="xs:boolean"/>
                <xs:element minOccurs="0" name="TransactionID" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="CheckMaterialAvailabilityRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="MSISDN" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="MaterialCode" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="ProfileID" type="xs:int"/>
                <xs:element minOccurs="0" name="RequestId" nillable="true" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="CheckMaterialAvailabilityResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="FailReason" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="MaterialCode" nillable="true" type="xs:string"/>
                <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/DMSSalesAppIntegrationService.Contact" minOccurs="0" name="Quantity" nillable="true"
                            type="q26:ArrayOfSectionQty"/>
                <xs:element minOccurs="0" name="RequestId" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="StatusDesc" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="StatusID" type="xs:int"/>
                <xs:element minOccurs="0" name="Success" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetSTOInfoRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/DMSSalesAppIntegrationService.Contact" minOccurs="0" name="FunctionalType"
                            type="q31:FunctionalType"/>
                <xs:element minOccurs="0" name="MSISDN" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="ProfileID" type="xs:int"/>
                <xs:element minOccurs="0" name="RequestId" nillable="true" type="xs:string"/>
                <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/DMSSalesAppIntegrationService.Contact" minOccurs="0" name="Status"
                            type="q32:StockInforRequestStatus"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetSTOInfoResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="FailReason" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="RequestId" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="RequestStatusDesc" nillable="true" type="xs:string"/>
                <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/DMSSalesAppIntegrationService" minOccurs="0" name="StoInfoRespons" nillable="true"
                            type="q33:ArrayOfSTOInfoResponse"/>
                <xs:element minOccurs="0" name="Success" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="MaterialItemValidationRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/DMSSalesAppIntegrationService.Contact" minOccurs="0" name="IsBundleMaterial"
                            type="q34:BundleMaterial"/>
                <xs:element minOccurs="0" name="MSISDN" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="MaterialSerialNumber" nillable="true" type="xs:string"/>
                <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/DMSSalesAppIntegrationService.Contact" minOccurs="0" name="MaterialStatus"
                            type="q35:ItemStatus"/>
                <xs:element minOccurs="0" name="ProfileID" type="xs:int"/>
                <xs:element minOccurs="0" name="RequestId" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="SAPMaterialCode" nillable="true" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="MaterialItemValidationResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string"/>
                <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/DMSSalesAppIntegrationService" minOccurs="0" name="Materialres"
                            nillable="true"
                            type="q36:SapMateriaItemlValidationResponse"/>
                <xs:element minOccurs="0" name="RequestId" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="Success" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="AgentMaterialRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="MSISDN" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="ProfileID" type="xs:int"/>
                <xs:element minOccurs="0" name="RequestId" nillable="true" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="AgentMaterialResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string"/>
                <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/DMSSalesAppIntegrationService" minOccurs="0" name="MaterialRes" nillable="true"
                            type="q37:ArrayOfAgentMaterialRes"/>
                <xs:element minOccurs="0" name="RequestId" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="Success" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="CPLocatorInfoRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="ItemSerial" nillable="true" type="xs:string"/>
                <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/DMSSalesAppIntegrationService.Contact" minOccurs="0" name="MaterialType"
                            type="q38:MaterialType"/>
                <xs:element minOccurs="0" name="RequestId" nillable="true" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="CPLocatorInfoResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="AgentAddress" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="AgentMSISDN" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="AgentName" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="AgentType" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string"/>
                <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/DMSSalesAppIntegrationService" minOccurs="0" name="IndividualItems" nillable="true"
                            type="q39:ArrayOfIndividualItems"/>
                <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/DMSSalesAppIntegrationService" minOccurs="0" name="Logistics" nillable="true"
                            type="q40:Logistics"/>
                <xs:element minOccurs="0" name="MaterialAssignedDate" nillable="true" type="xs:dateTime"/>
                <xs:element minOccurs="0" name="MaterialCurrentStatus" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="MaterialName" nillable="true" type="xs:string"/>
                <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/DMSSalesAppIntegrationService" minOccurs="0" name="POInfo" nillable="true"
                            type="q41:POInfo"/>
                <xs:element minOccurs="0" name="RequestId" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="Success" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="MMSConsumptionUpdateRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="MSISDN" nillable="true" type="xs:string"/>
                <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/DMSSalesAppIntegrationService" minOccurs="0" name="NewItemInfo" nillable="true"
                            type="q42:ArrayOfMaterialInfo"/>
                <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/DMSSalesAppIntegrationService" minOccurs="0" name="OldItemInfo" nillable="true"
                            type="q43:ArrayOfMaterialInfo"/>
                <xs:element minOccurs="0" name="OutletProfile" nillable="true" type="xs:string"/>
                <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/DMSSalesAppIntegrationService.Contact" minOccurs="0" name="UpdateType"
                            type="q44:TransactionType"/>
                <xs:element minOccurs="0" name="WorkOrderID" nillable="true" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="MMSConsumptionUpdateResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="DMSTransactionID" type="xs:int"/>
                <xs:element minOccurs="0" name="ResponseMessage" nillable="true" type="xs:string"/>
                <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/DMSSalesAppIntegrationService.Contact" minOccurs="0" name="ResponseStatus"
                            type="q45:Status"/>
                <xs:element minOccurs="0" name="WorkOrderID" nillable="true" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ValidateLTEMaterialRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="MSISDN" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="MaterialSerialNumber" nillable="true" type="xs:string"/>
                <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/DMSSalesAppIntegrationService.Contact" minOccurs="0" name="MaterialStatus"
                            type="q46:ItemStatus"/>
                <xs:element minOccurs="0" name="ProfileID" type="xs:int"/>
                <xs:element minOccurs="0" name="RequestId" nillable="true" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ValidateLTEMaterialResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string"/>
                <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/DMSSalesAppIntegrationService" minOccurs="0" name="Materialres" nillable="true"
                            type="q47:SapMaterialValidationResponse"/>
                <xs:element minOccurs="0" name="RequestId" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="Success" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ValidateLTEMaterialItemRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="MSISDN" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="MaterialSerialNumber" nillable="true" type="xs:string"/>
                <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/DMSSalesAppIntegrationService.Contact" minOccurs="0" name="MaterialStatus"
                            type="q48:ItemStatus"/>
                <xs:element minOccurs="0" name="ProfileID" type="xs:int"/>
                <xs:element minOccurs="0" name="RequestId" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="SAPMaterialCode" nillable="true" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ValidateLTEMaterialItemResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string"/>
                <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/DMSSalesAppIntegrationService" minOccurs="0" name="Materialres" nillable="true"
                            type="q49:SapMaterialValidationResponse"/>
                <xs:element minOccurs="0" name="RequestId" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="Success" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="SapStoRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="RequestClient" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="RequestId" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="SapStoId" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="SapStoResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="ErrorCode" type="xs:int"/>
                <xs:element minOccurs="0" name="RequestId" nillable="true" type="xs:string"/>
                <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/Dialog.Dms.SalesBusinessObject" minOccurs="0" name="SerialDetails" nillable="true"
                            type="q50:ArrayOfSerialDetails"/>
                <xs:element minOccurs="0" name="Success" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetMaterialAvailabilityRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="FromDate" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="InventorySection" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="LOB" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="PageNo" type="xs:int"/>
                <xs:element minOccurs="0" name="PageSize" type="xs:int"/>
                <xs:element minOccurs="0" name="ProfileID" type="xs:int"/>
                <xs:element minOccurs="0" name="RequestClient" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="RequestId" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="SAPMaterialcode" nillable="true" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetMaterialAvailabilityResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="ErrorCode" type="xs:int"/>
                <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/Dialog.Dms.SalesBusinessObject" minOccurs="0" name="InventoryList" nillable="true"
                            type="q51:ArrayOfAgentInventoryDtl"/>
                <xs:element minOccurs="0" name="RequestId" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="Success" type="xs:boolean"/>
                <xs:element minOccurs="0" name="TotalPages" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="InvalidSerialRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/DmsService.Inventory" minOccurs="0" name="ItemDetails" nillable="true"
                            type="q52:ArrayOfItemDetails"/>
                <xs:element minOccurs="0" name="RequestClient" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="RequestId" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="StoId" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="InvalidSerialResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="ErrorCode" type="xs:int"/>
                <xs:element minOccurs="0" name="RequestId" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="SapRef" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="Success" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>