src/main/resources/xsd/DMSSalesAppService5.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/DmsService.Inventory"
           elementFormDefault="qualified"
           targetNamespace="http://schemas.datacontract.org/2004/07/DmsService.Inventory">
    <xs:import schemaLocation="../xsd/DMSPOSService4.xsd"
               namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
    <xs:complexType name="ArrayOfItemDetails">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="ItemDetails" nillable="true" type="tns:ItemDetails"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ArrayOfItemDetails" nillable="true" type="tns:ArrayOfItemDetails"/>
    <xs:complexType name="ItemDetails">
        <xs:sequence>
            <xs:element minOccurs="0" name="SapMaterialCode" nillable="true" type="xs:string"/>
            <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Serials" nillable="true"
                        type="q1:ArrayOfstring"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ItemDetails" nillable="true" type="tns:ItemDetails"/>
</xs:schema>