src/main/resources/xsd/DMSSalesAppService4.xsd

<xs:schema elementFormDefault="qualified" 
           targetNamespace="http://schemas.datacontract.org/2004/07/Dialog.Dms.SalesBusinessObject" 
           xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           xmlns:tns="http://schemas.datacontract.org/2004/07/Dialog.Dms.SalesBusinessObject">
    <xs:simpleType name="ApprovalEntryStatus">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Pending"/>
            <xs:enumeration value="Approved"/>
            <xs:enumeration value="Rejected"/>
            <xs:enumeration value="NotAllocated"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="ApprovalEntryStatus" nillable="true" type="tns:ApprovalEntryStatus"/>
    <xs:complexType name="ArrayOfSerialDetails">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="SerialDetails" nillable="true" type="tns:SerialDetails"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ArrayOfSerialDetails" nillable="true" type="tns:ArrayOfSerialDetails"/>
    <xs:complexType name="SerialDetails">
        <xs:sequence>
            <xs:element minOccurs="0" name="From_Serial" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="Qty" type="xs:int"/>
            <xs:element minOccurs="0" name="To_Serial" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="sap_mat_code" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="SerialDetails" nillable="true" type="tns:SerialDetails"/>
    <xs:complexType name="ArrayOfAgentInventoryDtl">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="AgentInventoryDtl" nillable="true" type="tns:AgentInventoryDtl"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ArrayOfAgentInventoryDtl" nillable="true" type="tns:ArrayOfAgentInventoryDtl"/>
    <xs:complexType name="AgentInventoryDtl">
        <xs:sequence>
            <xs:element minOccurs="0" name="FromSerial" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="InventorySection" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="ItemCondition" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="ItemName" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="LOB" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="ProfileId" type="xs:int"/>
            <xs:element minOccurs="0" name="ProfileName" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="Qty" type="xs:int"/>
            <xs:element minOccurs="0" name="SAPMaterialcode" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="ToSerial" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="TransactionID" type="xs:int"/>
            <xs:element minOccurs="0" name="UpdatedDate" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="AgentInventoryDtl" nillable="true" type="tns:AgentInventoryDtl"/>
</xs:schema>