src/main/resources/xsd/OutBoundProxyLayer2.xsd

<xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/OutBoundProxyService" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/OutBoundProxyService">
    <xs:complexType name="InventoryAdjustmentCPOS">
        <xs:sequence>
            <xs:element minOccurs="0" name="From_SN" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="ProfileId" type="xs:int"/>
            <xs:element minOccurs="0" name="Qty" type="xs:int"/>
            <xs:element minOccurs="0" name="SapItemId" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="To_SN" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="InventoryAdjustmentCPOS" nillable="true" type="tns:InventoryAdjustmentCPOS"/>
    <xs:complexType name="ArrayOfDoItemTransferItem">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="DoItemTransferItem" nillable="true" type="tns:DoItemTransferItem"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ArrayOfDoItemTransferItem" nillable="true" type="tns:ArrayOfDoItemTransferItem"/>
    <xs:complexType name="DoItemTransferItem">
        <xs:sequence>
            <xs:element minOccurs="0" name="MaterialCode" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="MaterialDesc" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="Serials" nillable="true" type="tns:ArrayOfMaterialSerials"/>
            <xs:element minOccurs="0" name="TransferQty" type="xs:double"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="DoItemTransferItem" nillable="true" type="tns:DoItemTransferItem"/>
    <xs:complexType name="ArrayOfMaterialSerials">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="MaterialSerials" nillable="true" type="tns:MaterialSerials"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ArrayOfMaterialSerials" nillable="true" type="tns:ArrayOfMaterialSerials"/>
    <xs:complexType name="MaterialSerials">
        <xs:sequence>
            <xs:element minOccurs="0" name="FromSerial" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="Quantity" type="xs:double"/>
            <xs:element minOccurs="0" name="ToSerial" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ArrayOfTransferInfo">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="TransferInfo" nillable="true" type="tns:TransferInfo"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ArrayOfTransferInfo" nillable="true" type="tns:ArrayOfTransferInfo"/>
    <xs:complexType name="TransferInfo">
        <xs:sequence>
            <xs:element minOccurs="0" name="FromUser" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="Items" nillable="true" type="tns:ArrayOfDoItemTransferItem"/>
            <xs:element minOccurs="0" name="TransferDate" type="xs:dateTime"/>
            <xs:element minOccurs="0" name="TransferID" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="TransferInfo" nillable="true" type="tns:TransferInfo"/>
    <xs:complexType name="ArrayOfSerialHistory">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="SerialHistory" nillable="true" type="tns:SerialHistory"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ArrayOfSerialHistory" nillable="true" type="tns:ArrayOfSerialHistory"/>
    <xs:complexType name="SerialHistory">
        <xs:sequence>
            <xs:element minOccurs="0" name="AGENT_ID" type="xs:decimal"/>
            <xs:element minOccurs="0" name="AGENT_NAME" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="COMPARTMENT" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="FROM_SN" type="xs:decimal"/>
            <xs:element minOccurs="0" name="ITEM_ID" type="xs:decimal"/>
            <xs:element minOccurs="0" name="ITEM_NAME" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="PROFILE_ID" type="xs:decimal"/>
            <xs:element minOccurs="0" name="QTY" type="xs:decimal"/>
            <xs:element minOccurs="0" name="SECTION_ID" type="xs:decimal"/>
            <xs:element minOccurs="0" name="TO_SN" type="xs:decimal"/>
            <xs:element minOccurs="0" name="VALUE" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="SerialHistory" nillable="true" type="tns:SerialHistory"/>
    <xs:simpleType name="SBUList">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DTTL">
                <xs:annotation>
                    <xs:appinfo>
                        <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
                    </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DBN">
                <xs:annotation>
                    <xs:appinfo>
                        <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
                    </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DTVPostPaid">
                <xs:annotation>
                    <xs:appinfo>
                        <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
                    </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NBD">
                <xs:annotation>
                    <xs:appinfo>
                        <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
                    </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="GSM">
                <xs:annotation>
                    <xs:appinfo>
                        <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">6</EnumerationValue>
                    </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="SBUList" nillable="true" type="tns:SBUList"/>
    <xs:complexType name="ArrayOfWearhouseItemInfo">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="WearhouseItemInfo" nillable="true" type="tns:WearhouseItemInfo"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ArrayOfWearhouseItemInfo" nillable="true" type="tns:ArrayOfWearhouseItemInfo"/>
    <xs:complexType name="WearhouseItemInfo">
        <xs:sequence>
            <xs:element minOccurs="0" name="AvailableQty" type="xs:int"/>
            <xs:element minOccurs="0" name="IsSerialized" type="xs:int"/>
            <xs:element minOccurs="0" name="ItemCode" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="ItemDesc" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="VendorType" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="WearhouseItemInfo" nillable="true" type="tns:WearhouseItemInfo"/>
    <xs:complexType name="ArrayOfWeahoseItemDetailInfo">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="WeahoseItemDetailInfo" nillable="true" type="tns:WeahoseItemDetailInfo"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ArrayOfWeahoseItemDetailInfo" nillable="true" type="tns:ArrayOfWeahoseItemDetailInfo"/>
    <xs:complexType name="WeahoseItemDetailInfo">
        <xs:sequence>
            <xs:element minOccurs="0" name="FromSerial" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="ToSerial" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="WeahoseItemDetailInfo" nillable="true" type="tns:WeahoseItemDetailInfo"/>
    <xs:simpleType name="ItemCondition">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NEW">
                <xs:annotation>
                    <xs:appinfo>
                        <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
                    </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="USED">
                <xs:annotation>
                    <xs:appinfo>
                        <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
                    </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FAULTY">
                <xs:annotation>
                    <xs:appinfo>
                        <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
                    </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="ItemCondition" nillable="true" type="tns:ItemCondition"/>
    <xs:complexType name="ArrayOfMaterial">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="Material" nillable="true" type="tns:Material"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ArrayOfMaterial" nillable="true" type="tns:ArrayOfMaterial"/>
    <xs:complexType name="Material">
        <xs:sequence>
            <xs:element minOccurs="0" name="MaterialCode" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="Qty" type="xs:double"/>
            <xs:element minOccurs="0" name="Serials" nillable="true" type="tns:ArrayOfMaterialSerials"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Material" nillable="true" type="tns:Material"/>
    <xs:complexType name="ArrayOfMat_Details">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="Mat_Details" nillable="true" type="tns:Mat_Details"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ArrayOfMat_Details" nillable="true" type="tns:ArrayOfMat_Details"/>
    <xs:complexType name="Mat_Details">
        <xs:sequence>
            <xs:element minOccurs="0" name="From_Serial" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="MAT_CODE" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="QTY" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Mat_Details" nillable="true" type="tns:Mat_Details"/>
    <xs:complexType name="ArrayOfSapMat_details">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="SapMat_details" nillable="true" type="tns:SapMat_details"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ArrayOfSapMat_details" nillable="true" type="tns:ArrayOfSapMat_details"/>
    <xs:complexType name="SapMat_details">
        <xs:sequence>
            <xs:element minOccurs="0" name="MAT_CODE" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="QTY" type="xs:int"/>
            <xs:element minOccurs="0" name="Serial" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="SerialStatus" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="SapMat_details" nillable="true" type="tns:SapMat_details"/>
</xs:schema>