src/main/resources/wsdl/DmsServices.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://tempuri.org/" xmlns:i0="http://www.zillione.com/lk/services/" name="DmsServices"
                  targetNamespace="http://tempuri.org/">
    <wsdl:import namespace="http://www.zillione.com/lk/services/"
                 location="./cpos.wsdl"/>
    <wsdl:types/>
    <wsdl:binding name="BasicHttpBinding_IDmsServices" type="i0:IDmsServices">c
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="CreateMaterialCategory">
            <soap:operation soapAction="http://www.zillione.com/lk/services/IDmsServices/CreateMaterialCategory"
                            style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GenMaterials">
            <soap:operation soapAction="http://www.zillione.com/lk/services/IDmsServices/GenMaterials"
                            style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="AddUpdateSalesPerson">
            <soap:operation soapAction="http://www.zillione.com/lk/services/IDmsServices/AddUpdateSalesPerson"
                            style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="OutletDetails">
            <soap:operation soapAction="http://www.zillione.com/lk/services/IDmsServices/OutletDetails"
                            style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ReserveMat">
            <soap:operation soapAction="http://www.zillione.com/lk/services/IDmsServices/ReserveMat" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ConfirmRes">
            <soap:operation soapAction="http://www.zillione.com/lk/services/IDmsServices/ConfirmRes" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="CancelReservation">
            <soap:operation soapAction="http://www.zillione.com/lk/services/IDmsServices/CancelReservation"
                            style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="StockMovement">
            <soap:operation soapAction="http://www.zillione.com/lk/services/IDmsServices/StockMovement"
                            style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ValidateMaterialItem">
            <soap:operation soapAction="http://www.zillione.com/lk/services/IDmsServices/ValidateMaterialItem"
                            style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ValidateMaterial">
            <soap:operation soapAction="http://www.zillione.com/lk/services/IDmsServices/ValidateMaterial"
                            style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetSerialsByBundleSerial">
            <soap:operation soapAction="http://www.zillione.com/lk/services/IDmsServices/GetSerialsByBundleSerial"
                            style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="TransInventory">
            <soap:operation soapAction="http://www.zillione.com/lk/services/IDmsServices/TransInventory"
                            style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="AcceptTransfer">
            <soap:operation soapAction="http://www.zillione.com/lk/services/IDmsServices/AcceptTransfer"
                            style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="DoItemTransfer">
            <soap:operation soapAction="http://www.zillione.com/lk/services/IDmsServices/DoItemTransfer"
                            style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ValidateMaterialSerials">
            <soap:operation soapAction="http://www.zillione.com/lk/services/IDmsServices/ValidateMaterialSerials"
                            style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="SapValidateSerial">
            <soap:operation soapAction="http://www.zillione.com/lk/services/IDmsServices/SapValidateSerial"
                            style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="CheckInventoryAvailability">
            <soap:operation soapAction="http://www.zillione.com/lk/services/IDmsServices/CheckInventoryAvailability"
                            style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="DmsServices">
        <wsdl:port name="BasicHttpBinding_IDmsServices" binding="tns:BasicHttpBinding_IDmsServices">
            <soap:address location="http://172.26.66.57:1001/DmsServices.svc"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>