src/main/resources/wsdl/DMSSalesAppService.wsdl

<wsdl:definitions name="DMSSalesAppService"
                  targetNamespace="http://tempuri.org/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl">
    <wsdl:types>
        <xsd:schema targetNamespace="http://tempuri.org/Imports">
            <xsd:import schemaLocation="../xsd/DMSSalesAppService0.xsd" namespace="http://tempuri.org/"/>
            <xsd:import schemaLocation="../xsd/DMSSalesAppService2.xsd" namespace="http://schemas.datacontract.org/2004/07/DMSSalesAppIntegrationService.Contact"/>
            <xsd:import schemaLocation="../xsd/DMSSalesAppService3.xsd" namespace="http://schemas.datacontract.org/2004/07/DMSSalesAppIntegrationService"/>
            <xsd:import schemaLocation="../xsd/DMSSalesAppService4.xsd" namespace="http://schemas.datacontract.org/2004/07/Dialog.Dms.SalesBusinessObject"/>
            <xsd:import schemaLocation="../xsd/DMSSalesAppService5.xsd" namespace="http://schemas.datacontract.org/2004/07/DmsService.Inventory"/>
            <xsd:import schemaLocation="../xsd/CommonObjects.xsd" namespace="http://common.org/"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="MaterialValidationRequest">
        <wsdl:part name="parameters" element="tns:MaterialValidationRequest"/>
    </wsdl:message>
    <wsdl:message name="MaterialValidationResponse">
        <wsdl:part name="parameters" element="tns:MaterialValidationResponse"/>
    </wsdl:message>
    <wsdl:message name="ConsumptionUpdateRequest">
        <wsdl:part name="parameters" element="tns:ConsumptionUpdateRequest"/>
    </wsdl:message>
    <wsdl:message name="ConsumptionUpdateResponse">
        <wsdl:part name="parameters" element="tns:ConsumptionUpdateResponse"/>
    </wsdl:message>
    <wsdl:message name="CancelConsumptionUpdateRequest">
        <wsdl:part name="parameters" element="tns:CancelConsumptionUpdateRequest"/>
    </wsdl:message>
    <wsdl:message name="CancelConsumptionUpdateResponse">
        <wsdl:part name="parameters" element="tns:CancelConsumptionUpdateResponse"/>
    </wsdl:message>
    <wsdl:message name="GetPendingApprovalsRequest">
        <wsdl:part name="parameters" element="tns:GetPendingApprovalsRequest"/>
    </wsdl:message>
    <wsdl:message name="GetPendingApprovalsResponse">
        <wsdl:part name="parameters" element="tns:GetPendingApprovalsResponse"/>
    </wsdl:message>
    <wsdl:message name="CreateSTORequest">
        <wsdl:part name="parameters" element="tns:CreateSTORequest"/>
    </wsdl:message>
    <wsdl:message name="CreateSTOResponse">
        <wsdl:part name="parameters" element="tns:CreateSTOResponse"/>
    </wsdl:message>
    <wsdl:message name="GetPendingApprovalDetailRequest">
        <wsdl:part name="parameters" element="tns:GetPendingApprovalDetailRequest"/>
    </wsdl:message>
    <wsdl:message name="GetPendingApprovalDetailResponse">
        <wsdl:part name="parameters" element="tns:GetPendingApprovalDetailResponse"/>
    </wsdl:message>
    <wsdl:message name="StockApprovalsRequest">
        <wsdl:part name="parameters" element="tns:StockApprovalsRequest"/>
    </wsdl:message>
    <wsdl:message name="StockApprovalsResponse">
        <wsdl:part name="parameters" element="tns:StockApprovalsResponse"/>
    </wsdl:message>
    <wsdl:message name="GetSTOItemsAcquasitionInfoRequest">
        <wsdl:part name="parameters" element="tns:GetSTOItemsAcquasitionInfoRequest"/>
    </wsdl:message>
    <wsdl:message name="GetSTOItemsAcquasitionInfoResponse">
        <wsdl:part name="parameters" element="tns:GetSTOItemsAcquasitionInfoResponse"/>
    </wsdl:message>
    <wsdl:message name="GetSTOItemsAcquasitionDetailInfoRequest">
        <wsdl:part name="parameters" element="tns:GetSTOItemsAcquasitionDetailInfoRequest"/>
    </wsdl:message>
    <wsdl:message name="GetSTOItemsAcquasitionDetailInfoResponse">
        <wsdl:part name="parameters" element="tns:GetSTOItemsAcquasitionDetailInfoResponse"/>
    </wsdl:message>
    <wsdl:message name="CancelSTORequest">
        <wsdl:part name="parameters" element="tns:CancelSTORequest"/>
    </wsdl:message>
    <wsdl:message name="CancelSTOResponse">
        <wsdl:part name="parameters" element="tns:CancelSTOResponse"/>
    </wsdl:message>
    <wsdl:message name="MaterialReturnRequest">
        <wsdl:part name="parameters" element="tns:MaterialReturnRequest"/>
    </wsdl:message>
    <wsdl:message name="MaterialReturnResponse">
        <wsdl:part name="parameters" element="tns:MaterialReturnResponse"/>
    </wsdl:message>
    <wsdl:message name="AcquisitionSTOItemsRequest">
        <wsdl:part name="parameters" element="tns:AcquisitionSTOItemsRequest"/>
    </wsdl:message>
    <wsdl:message name="AcquisitionSTOItemsResponse">
        <wsdl:part name="parameters" element="tns:AcquisitionSTOItemsResponse"/>
    </wsdl:message>
    <wsdl:message name="CheckMaterialAvailabilityRequest">
        <wsdl:part name="parameters" element="tns:CheckMaterialAvailabilityRequest"/>
    </wsdl:message>
    <wsdl:message name="CheckMaterialAvailabilityResponse">
        <wsdl:part name="parameters" element="tns:CheckMaterialAvailabilityResponse"/>
    </wsdl:message>
    <wsdl:message name="DoItemTransferRequest">
        <wsdl:part name="parameters" element="tns:DoItemTransferRequest"/>
    </wsdl:message>
    <wsdl:message name="DoItemTransferResponse">
        <wsdl:part name="parameters" element="tns:DoItemTransferResponse"/>
    </wsdl:message>
    <wsdl:message name="GetItemTransferInfoRequest">
        <wsdl:part name="parameters" element="tns:GetItemTransferInfoRequest"/>
    </wsdl:message>
    <wsdl:message name="GetItemTransferInfoResponse">
        <wsdl:part name="parameters" element="tns:GetItemTransferInfoResponse"/>
    </wsdl:message>
    <wsdl:message name="AcceptItemTransferRequest">
        <wsdl:part name="parameters" element="tns:AcceptItemTransferRequest"/>
    </wsdl:message>
    <wsdl:message name="AcceptItemTransferResponse">
        <wsdl:part name="parameters" element="tns:AcceptItemTransferResponse"/>
    </wsdl:message>
    <wsdl:message name="GetSTOInfoRequest">
        <wsdl:part name="parameters" element="tns:GetSTOInfoRequest"/>
    </wsdl:message>
    <wsdl:message name="GetSTOInfoResponse">
        <wsdl:part name="parameters" element="tns:GetSTOInfoResponse"/>
    </wsdl:message>
    <wsdl:message name="MaterialItemValidationRequest">
        <wsdl:part name="parameters" element="tns:MaterialItemValidationRequest"/>
    </wsdl:message>
    <wsdl:message name="MaterialItemValidationResponse">
        <wsdl:part name="parameters" element="tns:MaterialItemValidationResponse"/>
    </wsdl:message>
    <wsdl:message name="AgentMaterialRequest">
        <wsdl:part name="parameters" element="tns:AgentMaterialRequest"/>
    </wsdl:message>
    <wsdl:message name="AgentMaterialResponse">
        <wsdl:part name="parameters" element="tns:AgentMaterialResponse"/>
    </wsdl:message>
    <wsdl:message name="CPLocatorInfoRequest">
        <wsdl:part name="parameters" element="tns:CPLocatorInfoRequest"/>
    </wsdl:message>
    <wsdl:message name="CPLocatorInfoResponse">
        <wsdl:part name="parameters" element="tns:CPLocatorInfoResponse"/>
    </wsdl:message>
    <wsdl:message name="MMSConsumptionUpdateRequest">
        <wsdl:part name="parameters" element="tns:MMSConsumptionUpdateRequest"/>
    </wsdl:message>
    <wsdl:message name="MMSConsumptionUpdateResponse">
        <wsdl:part name="parameters" element="tns:MMSConsumptionUpdateResponse"/>
    </wsdl:message>
    <wsdl:message name="ValidateLTEMaterialRequest">
        <wsdl:part name="parameters" element="tns:ValidateLTEMaterialRequest"/>
    </wsdl:message>
    <wsdl:message name="ValidateLTEMaterialResponse">
        <wsdl:part name="parameters" element="tns:ValidateLTEMaterialResponse"/>
    </wsdl:message>
    <wsdl:message name="ValidateLTEMaterialItemRequest">
        <wsdl:part name="parameters" element="tns:ValidateLTEMaterialItemRequest"/>
    </wsdl:message>
    <wsdl:message name="ValidateLTEMaterialItemResponse">
        <wsdl:part name="parameters" element="tns:ValidateLTEMaterialItemResponse"/>
    </wsdl:message>
    <wsdl:message name="SapStoRequest">
        <wsdl:part name="parameters" element="tns:SapStoRequest"/>
    </wsdl:message>
    <wsdl:message name="SapStoResponse">
        <wsdl:part name="parameters" element="tns:SapStoResponse"/>
    </wsdl:message>
    <wsdl:message name="GetMaterialAvailabilityRequest">
        <wsdl:part name="parameters" element="tns:GetMaterialAvailabilityRequest"/>
    </wsdl:message>
    <wsdl:message name="GetMaterialAvailabilityResponse">
        <wsdl:part name="parameters" element="tns:GetMaterialAvailabilityResponse"/>
    </wsdl:message>
    <wsdl:message name="InvalidSerialRequest">
        <wsdl:part name="parameters" element="tns:InvalidSerialRequest"/>
    </wsdl:message>
    <wsdl:message name="InvalidSerialResponse">
        <wsdl:part name="parameters" element="tns:InvalidSerialResponse"/>
    </wsdl:message>
    <wsdl:portType name="IDMSSalesAppService">
        <wsdl:operation name="ValidateMaterial">
            <wsdl:input wsaw:Action="http://tempuri.org/IDMSSalesAppService/ValidateMaterial" name="MaterialValidationRequest" message="tns:MaterialValidationRequest"/>
            <wsdl:output wsaw:Action="http://tempuri.org/IDMSSalesAppService/ValidateMaterialResponse" name="MaterialValidationResponse" message="tns:MaterialValidationResponse"/>
        </wsdl:operation>
        <wsdl:operation name="ConsumptionUpdate">
            <wsdl:input wsaw:Action="http://tempuri.org/IDMSSalesAppService/ConsumptionUpdate" name="ConsumptionUpdateRequest" message="tns:ConsumptionUpdateRequest"/>
            <wsdl:output wsaw:Action="http://tempuri.org/IDMSSalesAppService/ConsumptionUpdateResponse" name="ConsumptionUpdateResponse" message="tns:ConsumptionUpdateResponse"/>
        </wsdl:operation>
        <wsdl:operation name="CancelConsumptionUpdate">
            <wsdl:input wsaw:Action="http://tempuri.org/IDMSSalesAppService/CancelConsumptionUpdate" name="CancelConsumptionUpdateRequest" message="tns:CancelConsumptionUpdateRequest"/>
            <wsdl:output wsaw:Action="http://tempuri.org/IDMSSalesAppService/CancelConsumptionUpdateResponse" name="CancelConsumptionUpdateResponse" message="tns:CancelConsumptionUpdateResponse"/>
        </wsdl:operation>
        <wsdl:operation name="GetPendingApprovals">
            <wsdl:input wsaw:Action="http://tempuri.org/IDMSSalesAppService/GetPendingApprovals" name="GetPendingApprovalsRequest" message="tns:GetPendingApprovalsRequest"/>
            <wsdl:output wsaw:Action="http://tempuri.org/IDMSSalesAppService/GetPendingApprovalsResponse" name="GetPendingApprovalsResponse" message="tns:GetPendingApprovalsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="CreateSTO">
            <wsdl:input wsaw:Action="http://tempuri.org/IDMSSalesAppService/CreateSTO" name="CreateSTORequest" message="tns:CreateSTORequest"/>
            <wsdl:output wsaw:Action="http://tempuri.org/IDMSSalesAppService/CreateSTOResponse" name="CreateSTOResponse" message="tns:CreateSTOResponse"/>
        </wsdl:operation>
        <wsdl:operation name="GetPendingApprovalDetail">
            <wsdl:input wsaw:Action="http://tempuri.org/IDMSSalesAppService/GetPendingApprovalDetail" name="GetPendingApprovalDetailRequest" message="tns:GetPendingApprovalDetailRequest"/>
            <wsdl:output wsaw:Action="http://tempuri.org/IDMSSalesAppService/GetPendingApprovalDetailResponse" name="GetPendingApprovalDetailResponse" message="tns:GetPendingApprovalDetailResponse"/>
        </wsdl:operation>
        <wsdl:operation name="StockRequestApprovals">
            <wsdl:input wsaw:Action="http://tempuri.org/IDMSSalesAppService/StockRequestApprovals" name="StockApprovalsRequest" message="tns:StockApprovalsRequest"/>
            <wsdl:output wsaw:Action="http://tempuri.org/IDMSSalesAppService/StockRequestApprovalsResponse" name="StockApprovalsResponse" message="tns:StockApprovalsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="GetSTOItemsAcquasitionInfo">
            <wsdl:input wsaw:Action="http://tempuri.org/IDMSSalesAppService/GetSTOItemsAcquasitionInfo" name="GetSTOItemsAcquasitionInfoRequest" message="tns:GetSTOItemsAcquasitionInfoRequest"/>
            <wsdl:output wsaw:Action="http://tempuri.org/IDMSSalesAppService/GetSTOItemsAcquasitionInfoResponse" name="GetSTOItemsAcquasitionInfoResponse" message="tns:GetSTOItemsAcquasitionInfoResponse"/>
        </wsdl:operation>
        <wsdl:operation name="GetSTOItemsAcquasitionDetailInfo">
            <wsdl:input wsaw:Action="http://tempuri.org/IDMSSalesAppService/GetSTOItemsAcquasitionDetailInfo" name="GetSTOItemsAcquasitionDetailInfoRequest" message="tns:GetSTOItemsAcquasitionDetailInfoRequest"/>
            <wsdl:output wsaw:Action="http://tempuri.org/IDMSSalesAppService/GetSTOItemsAcquasitionDetailInfoResponse" name="GetSTOItemsAcquasitionDetailInfoResponse" message="tns:GetSTOItemsAcquasitionDetailInfoResponse"/>
        </wsdl:operation>
        <wsdl:operation name="CancelSTO">
            <wsdl:input wsaw:Action="http://tempuri.org/IDMSSalesAppService/CancelSTO" name="CancelSTORequest" message="tns:CancelSTORequest"/>
            <wsdl:output wsaw:Action="http://tempuri.org/IDMSSalesAppService/CancelSTOResponse" name="CancelSTOResponse" message="tns:CancelSTOResponse"/>
        </wsdl:operation>
        <wsdl:operation name="MaterialReturn">
            <wsdl:input wsaw:Action="http://tempuri.org/IDMSSalesAppService/MaterialReturn" name="MaterialReturnRequest" message="tns:MaterialReturnRequest"/>
            <wsdl:output wsaw:Action="http://tempuri.org/IDMSSalesAppService/MaterialReturnResponse" name="MaterialReturnResponse" message="tns:MaterialReturnResponse"/>
        </wsdl:operation>
        <wsdl:operation name="AcquisitionSTOItems">
            <wsdl:input wsaw:Action="http://tempuri.org/IDMSSalesAppService/AcquisitionSTOItems" name="AcquisitionSTOItemsRequest" message="tns:AcquisitionSTOItemsRequest"/>
            <wsdl:output wsaw:Action="http://tempuri.org/IDMSSalesAppService/AcquisitionSTOItemsResponse" name="AcquisitionSTOItemsResponse" message="tns:AcquisitionSTOItemsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="CheckMaterialAvailability">
            <wsdl:input wsaw:Action="http://tempuri.org/IDMSSalesAppService/CheckMaterialAvailability" name="CheckMaterialAvailabilityRequest" message="tns:CheckMaterialAvailabilityRequest"/>
            <wsdl:output wsaw:Action="http://tempuri.org/IDMSSalesAppService/CheckMaterialAvailabilityResponse" name="CheckMaterialAvailabilityResponse" message="tns:CheckMaterialAvailabilityResponse"/>
        </wsdl:operation>
        <wsdl:operation name="DoItemTransfer">
            <wsdl:input wsaw:Action="http://tempuri.org/IDMSSalesAppService/DoItemTransfer" name="DoItemTransferRequest" message="tns:DoItemTransferRequest"/>
            <wsdl:output wsaw:Action="http://tempuri.org/IDMSSalesAppService/DoItemTransferResponse" name="DoItemTransferResponse" message="tns:DoItemTransferResponse"/>
        </wsdl:operation>
        <wsdl:operation name="GetItemTransferInfo">
            <wsdl:input wsaw:Action="http://tempuri.org/IDMSSalesAppService/GetItemTransferInfo" name="GetItemTransferInfoRequest" message="tns:GetItemTransferInfoRequest"/>
            <wsdl:output wsaw:Action="http://tempuri.org/IDMSSalesAppService/GetItemTransferInfoResponse" name="GetItemTransferInfoResponse" message="tns:GetItemTransferInfoResponse"/>
        </wsdl:operation>
        <wsdl:operation name="AcceptItemTransfer">
            <wsdl:input wsaw:Action="http://tempuri.org/IDMSSalesAppService/AcceptItemTransfer" name="AcceptItemTransferRequest" message="tns:AcceptItemTransferRequest"/>
            <wsdl:output wsaw:Action="http://tempuri.org/IDMSSalesAppService/AcceptItemTransferResponse" name="AcceptItemTransferResponse" message="tns:AcceptItemTransferResponse"/>
        </wsdl:operation>
        <wsdl:operation name="GetSTOInfo">
            <wsdl:input wsaw:Action="http://tempuri.org/IDMSSalesAppService/GetSTOInfo" name="GetSTOInfoRequest" message="tns:GetSTOInfoRequest"/>
            <wsdl:output wsaw:Action="http://tempuri.org/IDMSSalesAppService/GetSTOInfoResponse" name="GetSTOInfoResponse" message="tns:GetSTOInfoResponse"/>
        </wsdl:operation>
        <wsdl:operation name="ValidateMaterialItem">
            <wsdl:input wsaw:Action="http://tempuri.org/IDMSSalesAppService/ValidateMaterialItem" name="MaterialItemValidationRequest" message="tns:MaterialItemValidationRequest"/>
            <wsdl:output wsaw:Action="http://tempuri.org/IDMSSalesAppService/ValidateMaterialItemResponse" name="MaterialItemValidationResponse" message="tns:MaterialItemValidationResponse"/>
        </wsdl:operation>
        <wsdl:operation name="GetAgentMaterial">
            <wsdl:input wsaw:Action="http://tempuri.org/IDMSSalesAppService/GetAgentMaterial" name="AgentMaterialRequest" message="tns:AgentMaterialRequest"/>
            <wsdl:output wsaw:Action="http://tempuri.org/IDMSSalesAppService/GetAgentMaterialResponse" name="AgentMaterialResponse" message="tns:AgentMaterialResponse"/>
        </wsdl:operation>
        <wsdl:operation name="GetCPLocatorInfo">
            <wsdl:input wsaw:Action="http://tempuri.org/IDMSSalesAppService/GetCPLocatorInfo" name="CPLocatorInfoRequest" message="tns:CPLocatorInfoRequest"/>
            <wsdl:output wsaw:Action="http://tempuri.org/IDMSSalesAppService/GetCPLocatorInfoResponse" name="CPLocatorInfoResponse" message="tns:CPLocatorInfoResponse"/>
        </wsdl:operation>
        <wsdl:operation name="MMSConsumptionUpdate">
            <wsdl:input wsaw:Action="http://tempuri.org/IDMSSalesAppService/MMSConsumptionUpdate" name="MMSConsumptionUpdateRequest" message="tns:MMSConsumptionUpdateRequest"/>
            <wsdl:output wsaw:Action="http://tempuri.org/IDMSSalesAppService/MMSConsumptionUpdateResponse" name="MMSConsumptionUpdateResponse" message="tns:MMSConsumptionUpdateResponse"/>
        </wsdl:operation>
        <wsdl:operation name="ValidateLTEMaterial">
            <wsdl:input wsaw:Action="http://tempuri.org/IDMSSalesAppService/ValidateLTEMaterial" name="ValidateLTEMaterialRequest" message="tns:ValidateLTEMaterialRequest"/>
            <wsdl:output wsaw:Action="http://tempuri.org/IDMSSalesAppService/ValidateLTEMaterialResponse" name="ValidateLTEMaterialResponse" message="tns:ValidateLTEMaterialResponse"/>
        </wsdl:operation>
        <wsdl:operation name="ValidateLTEMaterialItem">
            <wsdl:input wsaw:Action="http://tempuri.org/IDMSSalesAppService/ValidateLTEMaterialItem" name="ValidateLTEMaterialItemRequest" message="tns:ValidateLTEMaterialItemRequest"/>
            <wsdl:output wsaw:Action="http://tempuri.org/IDMSSalesAppService/ValidateLTEMaterialItemResponse" name="ValidateLTEMaterialItemResponse" message="tns:ValidateLTEMaterialItemResponse"/>
        </wsdl:operation>
        <wsdl:operation name="GetStoSerialDetails">
            <wsdl:input wsaw:Action="http://tempuri.org/IDMSSalesAppService/GetStoSerialDetails" name="SapStoRequest" message="tns:SapStoRequest"/>
            <wsdl:output wsaw:Action="http://tempuri.org/IDMSSalesAppService/GetStoSerialDetailsResponse" name="SapStoResponse" message="tns:SapStoResponse"/>
        </wsdl:operation>
        <wsdl:operation name="GetMaterialAvailability">
            <wsdl:input wsaw:Action="http://tempuri.org/IDMSSalesAppService/GetMaterialAvailability" name="GetMaterialAvailabilityRequest" message="tns:GetMaterialAvailabilityRequest"/>
            <wsdl:output wsaw:Action="http://tempuri.org/IDMSSalesAppService/GetMaterialAvailabilityResponse" name="GetMaterialAvailabilityResponse" message="tns:GetMaterialAvailabilityResponse"/>
        </wsdl:operation>
        <wsdl:operation name="PassInvalidSerialDetailsToDMS">
            <wsdl:input wsaw:Action="http://tempuri.org/IDMSSalesAppService/PassInvalidSerialDetailsToDMS" name="InvalidSerialRequest" message="tns:InvalidSerialRequest"/>
            <wsdl:output wsaw:Action="http://tempuri.org/IDMSSalesAppService/PassInvalidSerialDetailsToDMSResponse" name="InvalidSerialResponse" message="tns:InvalidSerialResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="BasicHttpBinding_IDMSSalesAppService" type="tns:IDMSSalesAppService">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="ValidateMaterial">
            <soap:operation soapAction="http://tempuri.org/IDMSSalesAppService/ValidateMaterial" style="document"/>
            <wsdl:input name="MaterialValidationRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="MaterialValidationResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ConsumptionUpdate">
            <soap:operation soapAction="http://tempuri.org/IDMSSalesAppService/ConsumptionUpdate" style="document"/>
            <wsdl:input name="ConsumptionUpdateRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="ConsumptionUpdateResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="CancelConsumptionUpdate">
            <soap:operation soapAction="http://tempuri.org/IDMSSalesAppService/CancelConsumptionUpdate" style="document"/>
            <wsdl:input name="CancelConsumptionUpdateRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="CancelConsumptionUpdateResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetPendingApprovals">
            <soap:operation soapAction="http://tempuri.org/IDMSSalesAppService/GetPendingApprovals" style="document"/>
            <wsdl:input name="GetPendingApprovalsRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetPendingApprovalsResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="CreateSTO">
            <soap:operation soapAction="http://tempuri.org/IDMSSalesAppService/CreateSTO" style="document"/>
            <wsdl:input name="CreateSTORequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="CreateSTOResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetPendingApprovalDetail">
            <soap:operation soapAction="http://tempuri.org/IDMSSalesAppService/GetPendingApprovalDetail" style="document"/>
            <wsdl:input name="GetPendingApprovalDetailRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetPendingApprovalDetailResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="StockRequestApprovals">
            <soap:operation soapAction="http://tempuri.org/IDMSSalesAppService/StockRequestApprovals" style="document"/>
            <wsdl:input name="StockApprovalsRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="StockApprovalsResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetSTOItemsAcquasitionInfo">
            <soap:operation soapAction="http://tempuri.org/IDMSSalesAppService/GetSTOItemsAcquasitionInfo" style="document"/>
            <wsdl:input name="GetSTOItemsAcquasitionInfoRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetSTOItemsAcquasitionInfoResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetSTOItemsAcquasitionDetailInfo">
            <soap:operation soapAction="http://tempuri.org/IDMSSalesAppService/GetSTOItemsAcquasitionDetailInfo" style="document"/>
            <wsdl:input name="GetSTOItemsAcquasitionDetailInfoRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetSTOItemsAcquasitionDetailInfoResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="CancelSTO">
            <soap:operation soapAction="http://tempuri.org/IDMSSalesAppService/CancelSTO" style="document"/>
            <wsdl:input name="CancelSTORequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="CancelSTOResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="MaterialReturn">
            <soap:operation soapAction="http://tempuri.org/IDMSSalesAppService/MaterialReturn" style="document"/>
            <wsdl:input name="MaterialReturnRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="MaterialReturnResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="AcquisitionSTOItems">
            <soap:operation soapAction="http://tempuri.org/IDMSSalesAppService/AcquisitionSTOItems" style="document"/>
            <wsdl:input name="AcquisitionSTOItemsRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="AcquisitionSTOItemsResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="CheckMaterialAvailability">
            <soap:operation soapAction="http://tempuri.org/IDMSSalesAppService/CheckMaterialAvailability" style="document"/>
            <wsdl:input name="CheckMaterialAvailabilityRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="CheckMaterialAvailabilityResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="DoItemTransfer">
            <soap:operation soapAction="http://tempuri.org/IDMSSalesAppService/DoItemTransfer" style="document"/>
            <wsdl:input name="DoItemTransferRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="DoItemTransferResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetItemTransferInfo">
            <soap:operation soapAction="http://tempuri.org/IDMSSalesAppService/GetItemTransferInfo" style="document"/>
            <wsdl:input name="GetItemTransferInfoRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetItemTransferInfoResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="AcceptItemTransfer">
            <soap:operation soapAction="http://tempuri.org/IDMSSalesAppService/AcceptItemTransfer" style="document"/>
            <wsdl:input name="AcceptItemTransferRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="AcceptItemTransferResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetSTOInfo">
            <soap:operation soapAction="http://tempuri.org/IDMSSalesAppService/GetSTOInfo" style="document"/>
            <wsdl:input name="GetSTOInfoRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetSTOInfoResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ValidateMaterialItem">
            <soap:operation soapAction="http://tempuri.org/IDMSSalesAppService/ValidateMaterialItem" style="document"/>
            <wsdl:input name="MaterialItemValidationRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="MaterialItemValidationResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetAgentMaterial">
            <soap:operation soapAction="http://tempuri.org/IDMSSalesAppService/GetAgentMaterial" style="document"/>
            <wsdl:input name="AgentMaterialRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="AgentMaterialResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetCPLocatorInfo">
            <soap:operation soapAction="http://tempuri.org/IDMSSalesAppService/GetCPLocatorInfo" style="document"/>
            <wsdl:input name="CPLocatorInfoRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="CPLocatorInfoResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="MMSConsumptionUpdate">
            <soap:operation soapAction="http://tempuri.org/IDMSSalesAppService/MMSConsumptionUpdate" style="document"/>
            <wsdl:input name="MMSConsumptionUpdateRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="MMSConsumptionUpdateResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ValidateLTEMaterial">
            <soap:operation soapAction="http://tempuri.org/IDMSSalesAppService/ValidateLTEMaterial" style="document"/>
            <wsdl:input name="ValidateLTEMaterialRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="ValidateLTEMaterialResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ValidateLTEMaterialItem">
            <soap:operation soapAction="http://tempuri.org/IDMSSalesAppService/ValidateLTEMaterialItem" style="document"/>
            <wsdl:input name="ValidateLTEMaterialItemRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="ValidateLTEMaterialItemResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetStoSerialDetails">
            <soap:operation soapAction="http://tempuri.org/IDMSSalesAppService/GetStoSerialDetails" style="document"/>
            <wsdl:input name="SapStoRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="SapStoResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetMaterialAvailability">
            <soap:operation soapAction="http://tempuri.org/IDMSSalesAppService/GetMaterialAvailability" style="document"/>
            <wsdl:input name="GetMaterialAvailabilityRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetMaterialAvailabilityResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="PassInvalidSerialDetailsToDMS">
            <soap:operation soapAction="http://tempuri.org/IDMSSalesAppService/PassInvalidSerialDetailsToDMS" style="document"/>
            <wsdl:input name="InvalidSerialRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="InvalidSerialResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="DMSSalesAppService">
        <wsdl:port name="BasicHttpBinding_IDMSSalesAppService" binding="tns:BasicHttpBinding_IDMSSalesAppService">
            <soap:address location="http://172.26.30.210/QAR2_DMSSalesAppIntegration/DMSSalesAppService.svc"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>