src/main/resources/wsdl/OutBoundProxyLayer.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:tns="http://tempuri.org/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                  name="OutBoundProxyLayer"
                  targetNamespace="http://tempuri.org/">
    <wsdl:types>
        <xsd:schema targetNamespace="http://tempuri.org/Imports">
            <xsd:import schemaLocation="../xsd/OutBoundProxyLayer0.xsd" namespace="http://tempuri.org/"/>
            <xsd:import schemaLocation="../xsd/OutBoundProxyLayer2.xsd"
                        namespace="http://schemas.datacontract.org/2004/07/OutBoundProxyService"/>
            <xsd:import schemaLocation="../xsd/OutBoundProxyLayer3.xsd"
                        namespace="http://schemas.datacontract.org/2004/07/Dialog.Dms.Business.BusinessObject"/>
            <xsd:import schemaLocation="../xsd/OutBoundProxyLayer4.xsd"
                        namespace="http://schemas.datacontract.org/2004/07/DmsService.Inventory"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="InvAdjustmentRequest">
        <wsdl:part name="parameters" element="tns:InvAdjustmentRequest"/>
    </wsdl:message>
    <wsdl:message name="AgentInventoryAdjustmentResponse">
        <wsdl:part name="parameters" element="tns:AgentInventoryAdjustmentResponse"/>
    </wsdl:message>
    <wsdl:message name="DoItemTransferRequest">
        <wsdl:part name="parameters" element="tns:DoItemTransferRequest"/>
    </wsdl:message>
    <wsdl:message name="DoItemTransferResponse">
        <wsdl:part name="parameters" element="tns:DoItemTransferResponse"/>
    </wsdl:message>
    <wsdl:message name="GetItemTransferInfoRequest">
        <wsdl:part name="parameters" element="tns:GetItemTransferInfoRequest"/>
    </wsdl:message>
    <wsdl:message name="GetItemTransferInfoResponse">
        <wsdl:part name="parameters" element="tns:GetItemTransferInfoResponse"/>
    </wsdl:message>
    <wsdl:message name="AcceptItemTransferRequest">
        <wsdl:part name="parameters" element="tns:AcceptItemTransferRequest"/>
    </wsdl:message>
    <wsdl:message name="AcceptItemTransferResponse">
        <wsdl:part name="parameters" element="tns:AcceptItemTransferResponse"/>
    </wsdl:message>
    <wsdl:message name="SearchSerialHistoryRequest">
        <wsdl:part name="parameters" element="tns:SearchSerialHistoryRequest"/>
    </wsdl:message>
    <wsdl:message name="SearchSerialHistoryProxyResponse">
        <wsdl:part name="parameters" element="tns:SearchSerialHistoryProxyResponse"/>
    </wsdl:message>
    <wsdl:message name="GetWearhouseReturnHeaderRequest">
        <wsdl:part name="parameters" element="tns:GetWearhouseReturnHeaderRequest"/>
    </wsdl:message>
    <wsdl:message name="GetWearhouseReturnHeaderResponse">
        <wsdl:part name="parameters" element="tns:GetWearhouseReturnHeaderResponse"/>
    </wsdl:message>
    <wsdl:message name="GetWearhouseReturnDetailRequest">
        <wsdl:part name="parameters" element="tns:GetWearhouseReturnDetailRequest"/>
    </wsdl:message>
    <wsdl:message name="GetWearhouseReturnDetailResponse">
        <wsdl:part name="parameters" element="tns:GetWearhouseReturnDetailResponse"/>
    </wsdl:message>
    <wsdl:message name="GetGantonMaterialPOSRequest">
        <wsdl:part name="parameters" element="tns:GetGantonMaterialPOSRequest"/>
    </wsdl:message>
    <wsdl:message name="GetGantonMaterialResponse">
        <wsdl:part name="parameters" element="tns:GetGantonMaterialResponse"/>
    </wsdl:message>
    <wsdl:message name="ValidateMaterialSerialsRequest">
        <wsdl:part name="parameters" element="tns:ValidateMaterialSerialsRequest"/>
    </wsdl:message>
    <wsdl:message name="ValidateMaterialSerialsResponse">
        <wsdl:part name="parameters" element="tns:ValidateMaterialSerialsResponse"/>
    </wsdl:message>
    <wsdl:message name="WarehouseReturnValidateSerialRequest">
        <wsdl:part name="parameters" element="tns:WarehouseReturnValidateSerialRequest"/>
    </wsdl:message>
    <wsdl:message name="WarehouseReturnValidateSerialResponse">
        <wsdl:part name="parameters" element="tns:WarehouseReturnValidateSerialResponse"/>
    </wsdl:message>
    <wsdl:message name="GetSerialWiseAgentInventoryRequest">
        <wsdl:part name="parameters" element="tns:GetSerialWiseAgentInventoryRequest"/>
    </wsdl:message>
    <wsdl:message name="GetSerialWiseAgentInventoryResponse">
        <wsdl:part name="parameters" element="tns:GetSerialWiseAgentInventoryResponse"/>
    </wsdl:message>
    <wsdl:portType name="IOutBoundProxyLayer">
        <wsdl:operation name="AgentInventoryAdjustmentCPOS">
            <wsdl:input wsaw:Action="http://tempuri.org/IOutBoundProxyLayer/AgentInventoryAdjustmentCPOS"
                        name="InvAdjustmentRequest" message="tns:InvAdjustmentRequest"/>
            <wsdl:output wsaw:Action="http://tempuri.org/IOutBoundProxyLayer/AgentInventoryAdjustmentCPOSResponse"
                         name="AgentInventoryAdjustmentResponse" message="tns:AgentInventoryAdjustmentResponse"/>
        </wsdl:operation>
        <wsdl:operation name="DoItemTransfer">
            <wsdl:input wsaw:Action="http://tempuri.org/IOutBoundProxyLayer/DoItemTransfer" name="DoItemTransferRequest"
                        message="tns:DoItemTransferRequest"/>
            <wsdl:output wsaw:Action="http://tempuri.org/IOutBoundProxyLayer/DoItemTransferResponse"
                         name="DoItemTransferResponse" message="tns:DoItemTransferResponse"/>
        </wsdl:operation>
        <wsdl:operation name="GetItemTransferInfo">
            <wsdl:input wsaw:Action="http://tempuri.org/IOutBoundProxyLayer/GetItemTransferInfo"
                        name="GetItemTransferInfoRequest" message="tns:GetItemTransferInfoRequest"/>
            <wsdl:output wsaw:Action="http://tempuri.org/IOutBoundProxyLayer/GetItemTransferInfoResponse"
                         name="GetItemTransferInfoResponse" message="tns:GetItemTransferInfoResponse"/>
        </wsdl:operation>
        <wsdl:operation name="AcceptTransfer">
            <wsdl:input wsaw:Action="http://tempuri.org/IOutBoundProxyLayer/AcceptTransfer"
                        name="AcceptItemTransferRequest" message="tns:AcceptItemTransferRequest"/>
            <wsdl:output wsaw:Action="http://tempuri.org/IOutBoundProxyLayer/AcceptTransferResponse"
                         name="AcceptItemTransferResponse" message="tns:AcceptItemTransferResponse"/>
        </wsdl:operation>
        <wsdl:operation name="SearchSerialHistory">
            <wsdl:input wsaw:Action="http://tempuri.org/IOutBoundProxyLayer/SearchSerialHistory"
                        name="SearchSerialHistoryRequest" message="tns:SearchSerialHistoryRequest"/>
            <wsdl:output wsaw:Action="http://tempuri.org/IOutBoundProxyLayer/SearchSerialHistoryResponse"
                         name="SearchSerialHistoryProxyResponse" message="tns:SearchSerialHistoryProxyResponse"/>
        </wsdl:operation>
        <wsdl:operation name="GetWearhouseReturnHeader">
            <wsdl:input wsaw:Action="http://tempuri.org/IOutBoundProxyLayer/GetWearhouseReturnHeader"
                        name="GetWearhouseReturnHeaderRequest" message="tns:GetWearhouseReturnHeaderRequest"/>
            <wsdl:output wsaw:Action="http://tempuri.org/IOutBoundProxyLayer/GetWearhouseReturnHeaderResponse"
                         name="GetWearhouseReturnHeaderResponse" message="tns:GetWearhouseReturnHeaderResponse"/>
        </wsdl:operation>
        <wsdl:operation name="GetWearhouseReturnDetails">
            <wsdl:input wsaw:Action="http://tempuri.org/IOutBoundProxyLayer/GetWearhouseReturnDetails"
                        name="GetWearhouseReturnDetailRequest" message="tns:GetWearhouseReturnDetailRequest"/>
            <wsdl:output wsaw:Action="http://tempuri.org/IOutBoundProxyLayer/GetWearhouseReturnDetailsResponse"
                         name="GetWearhouseReturnDetailResponse" message="tns:GetWearhouseReturnDetailResponse"/>
        </wsdl:operation>
        <wsdl:operation name="GetGantonMaterialStatus">
            <wsdl:input wsaw:Action="http://tempuri.org/IOutBoundProxyLayer/GetGantonMaterialStatus"
                        name="GetGantonMaterialPOSRequest" message="tns:GetGantonMaterialPOSRequest"/>
            <wsdl:output wsaw:Action="http://tempuri.org/IOutBoundProxyLayer/GetGantonMaterialStatusResponse"
                         name="GetGantonMaterialResponse" message="tns:GetGantonMaterialResponse"/>
        </wsdl:operation>
        <wsdl:operation name="ValidateMaterialSerials">
            <wsdl:input wsaw:Action="http://tempuri.org/IOutBoundProxyLayer/ValidateMaterialSerials"
                        name="ValidateMaterialSerialsRequest" message="tns:ValidateMaterialSerialsRequest"/>
            <wsdl:output wsaw:Action="http://tempuri.org/IOutBoundProxyLayer/ValidateMaterialSerialsResponse"
                         name="ValidateMaterialSerialsResponse" message="tns:ValidateMaterialSerialsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="WarehouseReturnSAPValidateSerial">
            <wsdl:input wsaw:Action="http://tempuri.org/IOutBoundProxyLayer/WarehouseReturnSAPValidateSerial"
                        name="WarehouseReturnValidateSerialRequest" message="tns:WarehouseReturnValidateSerialRequest"/>
            <wsdl:output wsaw:Action="http://tempuri.org/IOutBoundProxyLayer/WarehouseReturnSAPValidateSerialResponse"
                         name="WarehouseReturnValidateSerialResponse"
                         message="tns:WarehouseReturnValidateSerialResponse"/>
        </wsdl:operation>
        <wsdl:operation name="GetSerialWiseAgentInventory">
            <wsdl:input wsaw:Action="http://tempuri.org/IOutBoundProxyLayer/GetSerialWiseAgentInventory"
                        name="GetSerialWiseAgentInventoryRequest" message="tns:GetSerialWiseAgentInventoryRequest"/>
            <wsdl:output wsaw:Action="http://tempuri.org/IOutBoundProxyLayer/GetSerialWiseAgentInventoryResponse"
                         name="GetSerialWiseAgentInventoryResponse" message="tns:GetSerialWiseAgentInventoryResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="BasicHttpBinding_IOutBoundProxyLayer" type="tns:IOutBoundProxyLayer">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="AgentInventoryAdjustmentCPOS">
            <soap:operation soapAction="http://tempuri.org/IOutBoundProxyLayer/AgentInventoryAdjustmentCPOS"
                            style="document"/>
            <wsdl:input name="InvAdjustmentRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="AgentInventoryAdjustmentResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="DoItemTransfer">
            <soap:operation soapAction="http://tempuri.org/IOutBoundProxyLayer/DoItemTransfer" style="document"/>
            <wsdl:input name="DoItemTransferRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="DoItemTransferResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetItemTransferInfo">
            <soap:operation soapAction="http://tempuri.org/IOutBoundProxyLayer/GetItemTransferInfo" style="document"/>
            <wsdl:input name="GetItemTransferInfoRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetItemTransferInfoResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="AcceptTransfer">
            <soap:operation soapAction="http://tempuri.org/IOutBoundProxyLayer/AcceptTransfer" style="document"/>
            <wsdl:input name="AcceptItemTransferRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="AcceptItemTransferResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="SearchSerialHistory">
            <soap:operation soapAction="http://tempuri.org/IOutBoundProxyLayer/SearchSerialHistory" style="document"/>
            <wsdl:input name="SearchSerialHistoryRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="SearchSerialHistoryProxyResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetWearhouseReturnHeader">
            <soap:operation soapAction="http://tempuri.org/IOutBoundProxyLayer/GetWearhouseReturnHeader"
                            style="document"/>
            <wsdl:input name="GetWearhouseReturnHeaderRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetWearhouseReturnHeaderResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetWearhouseReturnDetails">
            <soap:operation soapAction="http://tempuri.org/IOutBoundProxyLayer/GetWearhouseReturnDetails"
                            style="document"/>
            <wsdl:input name="GetWearhouseReturnDetailRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetWearhouseReturnDetailResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetGantonMaterialStatus">
            <soap:operation soapAction="http://tempuri.org/IOutBoundProxyLayer/GetGantonMaterialStatus"
                            style="document"/>
            <wsdl:input name="GetGantonMaterialPOSRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetGantonMaterialResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ValidateMaterialSerials">
            <soap:operation soapAction="http://tempuri.org/IOutBoundProxyLayer/ValidateMaterialSerials"
                            style="document"/>
            <wsdl:input name="ValidateMaterialSerialsRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="ValidateMaterialSerialsResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="WarehouseReturnSAPValidateSerial">
            <soap:operation soapAction="http://tempuri.org/IOutBoundProxyLayer/WarehouseReturnSAPValidateSerial"
                            style="document"/>
            <wsdl:input name="WarehouseReturnValidateSerialRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="WarehouseReturnValidateSerialResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetSerialWiseAgentInventory">
            <soap:operation soapAction="http://tempuri.org/IOutBoundProxyLayer/GetSerialWiseAgentInventory"
                            style="document"/>
            <wsdl:input name="GetSerialWiseAgentInventoryRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetSerialWiseAgentInventoryResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="OutBoundProxyLayer">
        <wsdl:port name="BasicHttpBinding_IOutBoundProxyLayer" binding="tns:BasicHttpBinding_IOutBoundProxyLayer">
            <soap:address location="http://172.26.30.210/QAR2_DMSOutBoundProxy/OutBoundProxyLayer.svc"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>