src/main/resources/wsdl/SI_Team_TxService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:p1="http://dms_mm_team_to_tm_tranfer" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  name="SI_Team_Tx"
                  targetNamespace="http://dms_mm_team_to_tm_tranfer">
    <wsdl:documentation/>
    <wsp:UsingPolicy wsdl:required="true"/>
    <wsp:Policy wsu:Id="OP_SI_Team_Tx"/>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://dms_mm_team_to_tm_tranfer"
                    xmlns="http://dms_mm_team_to_tm_tranfer">
            <xsd:element name="MT_Team_Tx_Response" type="DT_STO_Unsold_Return_Response"/>
            <xsd:element name="MT_Team_Tx_Request" type="DT_SRO_Unsold_Return_request"/>
            <xsd:complexType name="DT_Details">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">d3766561672911e5b914001125e7e82a</xsd:appinfo>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="ITM_NO" type="xsd:string" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">2e1b9fa09d3411e4c5e0025041000001
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="QTY" type="xsd:string" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">2e1b9fa19d3411e4c409025041000001
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="MAT_CODE" type="xsd:string" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">2e1b9fa29d3411e4b556025041000001
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="DT_Serial">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">d96e9051672911e5b178001125e7e82a</xsd:appinfo>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="ITM_NO" type="xsd:string" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">2e1b9fa09d3411e4c5e0025041000001
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="MAT_CODE" type="xsd:string" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">2e1b9fa29d3411e4b556025041000001
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="QTY" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="From_Serial" type="xsd:string" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">095e02f0a2f911e4a0e2025041000001
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="To_Serial" type="xsd:string" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">095e02f1a2f911e4966b025041000001
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="DT_STO_Unsold_Return_Response">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">e4329b31672911e5af9a001125e7e82a</xsd:appinfo>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="SAP_RefID" type="xsd:string" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">8e32eef09a3e11e4cfcb025041000001
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="DMS_REQ_ID" type="xsd:string" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">792ee0d09a3f11e4b033025041000001
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="Message" type="xsd:string" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">8e32eef19a3e11e4813e025041000001
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="RESPONSE_STATUS" type="xsd:string" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">792ee0d19a3f11e4a435025041000001
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="RESPONSE_DESC" type="xsd:string" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">792ee0d29a3f11e4bbdd025041000001
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="PIMessageID" type="xsd:string" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">a00cc8509d3411e4a84d025041000001
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="DT_SRO_Unsold_Return_request">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">8257ac906b1411e5846a001125e7e82a</xsd:appinfo>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="Team_To_Team_Request">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">cddc36717fdc11e2b45a74e543238398
                            </xsd:appinfo>
                        </xsd:annotation>
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="Header" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">
                                            cddc36707fdc11e293a074e543238398
                                        </xsd:appinfo>
                                    </xsd:annotation>
                                    <xsd:complexType>
                                        <xsd:sequence>
                                            <xsd:element name="AppType" type="xsd:string" minOccurs="0">
                                                <xsd:annotation>
                                                    <xsd:appinfo source="http://sap.com/xi/TextID">
                                                        d8b09020672c11e5983574e543238398
                                                    </xsd:appinfo>
                                                </xsd:annotation>
                                            </xsd:element>
                                            <xsd:element name="DMSRequest_ID" type="xsd:string" minOccurs="0">
                                                <xsd:annotation>
                                                    <xsd:appinfo source="http://sap.com/xi/TextID">
                                                        1b1ecec07fdd11e28e8474e543238398
                                                    </xsd:appinfo>
                                                </xsd:annotation>
                                            </xsd:element>
                                            <xsd:element name="Sales_ORG" type="xsd:string" minOccurs="0">
                                                <xsd:annotation>
                                                    <xsd:appinfo source="http://sap.com/xi/TextID">
                                                        1b1ecec17fdd11e2b97f74e543238398
                                                    </xsd:appinfo>
                                                </xsd:annotation>
                                            </xsd:element>
                                            <xsd:element name="PMS_Profile_Code" type="xsd:string" minOccurs="0">
                                                <xsd:annotation>
                                                    <xsd:appinfo source="http://sap.com/xi/TextID">
                                                        691044b07fdd11e29ad974e543238398
                                                    </xsd:appinfo>
                                                </xsd:annotation>
                                            </xsd:element>
                                            <xsd:element name="Item_Status" type="xsd:string" minOccurs="0">
                                                <xsd:annotation>
                                                    <xsd:appinfo source="http://sap.com/xi/TextID">
                                                        abb5cf709d4911e48630025041000001
                                                    </xsd:appinfo>
                                                </xsd:annotation>
                                            </xsd:element>
                                            <xsd:element name="WH_Location" type="xsd:string" minOccurs="0">
                                                <xsd:annotation>
                                                    <xsd:appinfo source="http://sap.com/xi/TextID">
                                                        abb5cf719d4911e49af5025041000001
                                                    </xsd:appinfo>
                                                </xsd:annotation>
                                            </xsd:element>
                                            <xsd:element name="DT_Details" type="DT_Details" minOccurs="0"
                                                         maxOccurs="unbounded">
                                                <xsd:annotation>
                                                    <xsd:appinfo source="http://sap.com/xi/TextID">
                                                        6267fef09a3e11e4b0c3025041000001
                                                    </xsd:appinfo>
                                                </xsd:annotation>
                                            </xsd:element>
                                            <xsd:element name="DT_Serial" type="DT_Serial" minOccurs="0"
                                                         maxOccurs="unbounded">
                                                <xsd:annotation>
                                                    <xsd:appinfo source="http://sap.com/xi/TextID">
                                                        9f9b0f60b5cd11e4b091025041000001
                                                    </xsd:appinfo>
                                                </xsd:annotation>
                                            </xsd:element>
                                        </xsd:sequence>
                                    </xsd:complexType>
                                </xsd:element>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="MT_Team_Tx_Request">
        <wsdl:documentation/>
        <wsdl:part name="MT_Team_Tx_Request" element="p1:MT_Team_Tx_Request"/>
    </wsdl:message>
    <wsdl:message name="MT_Team_Tx_Response">
        <wsdl:documentation/>
        <wsdl:part name="MT_Team_Tx_Response" element="p1:MT_Team_Tx_Response"/>
    </wsdl:message>
    <wsdl:portType name="SI_Team_Tx">
        <wsdl:documentation/>
        <wsdl:operation name="SI_Team_Tx">
            <wsdl:documentation/>
            <wsp:Policy>
                <wsp:PolicyReference URI="#OP_SI_Team_Tx"/>
            </wsp:Policy>
            <wsdl:input message="p1:MT_Team_Tx_Request"/>
            <wsdl:output message="p1:MT_Team_Tx_Response"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="SI_Team_TxBinding" type="p1:SI_Team_Tx">
        <soap:binding xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="SI_Team_Tx">
            <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                            soapAction="http://sap.com/xi/WebService/soap1.1"/>
            <wsdl:input>
                <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="SI_Team_TxService">
        <wsdl:port name="HTTP_Port" binding="p1:SI_Team_TxBinding">
            <soap:address
                    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                    location="http://pidev.dialog.dialoggsm.com:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=DMS&amp;receiverParty=&amp;receiverService=&amp;interface=SI_Team_Tx&amp;interfaceNamespace=http%3A%2F%2Fdms_mm_team_to_tm_tranfer"/>
        </wsdl:port>
        <wsdl:port name="HTTPS_Port" binding="p1:SI_Team_TxBinding">
            <soap:address
                    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                    location="https://pidev.dialog.dialoggsm.com:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=DMS&amp;receiverParty=&amp;receiverService=&amp;interface=SI_Team_Tx&amp;interfaceNamespace=http%3A%2F%2Fdms_mm_team_to_tm_tranfer"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
